body {
  text-align: center;
  margin: 22%;
  background-color: cadetblue !important;
}
tr{
  text-align: center;
}
.navbar{
  background-color: #ff7000;
}
form{
  margin: 0% auto;
  width: 60%;
  border:5px ridge;
}